
/* common */
body {
  height: 100%;
}
.inner {
  width: 1440px;
  margin: auto;
  position: relative;
}
.hidden {
  display: none;
}

/* bg_img */
#bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 0.8;
}

/* clock */
#clock {
  font-size: 150px;
  font-weight: 700;
  color: #142E34;
  text-align: center;
  padding-top: 110px;
}

/* greeting */

h1#greeting {
  text-align: center;
  font-size: 50px;
  color: #142E34;
  padding-top: 20px;
}

/* weather */
#weather {
  position: absolute;
  top: 30px;
  right: 0;
}
.loca span:last-child {
  text-transform: capitalize;
  font-style: italic;
}
#weather .weather_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather_wrap span {
  font-size: 60px;
}
.temp_wrap {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.temp_wrap span:nth-of-type(1) {
  font-size: 40px;
}
.temp_wrap span:nth-of-type(2) {
  font-size: 20px;
  text-transform: capitalize;
}

/* login form */
#login_form {
  padding: 235px 0;
}
.login_box {
  width: 400px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.login_box input {
  width: 310px;
  height: 60px;
  padding-left: 20px;
  border-radius: 10px;
  border: 1px solid #eee;
  outline: none;
  font-size: 20px;
}
.login_box input:focus {
  border: 1px solid #142E34;
}
.login_box button {
  width: 80px;
  height: 60px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 20px;
  color: #fff;
  background-color: #142E34;
}
button:disabled,
button[disabled] {
  border: 1px solid #8B8B8B;
  background-color: #cccccc;
  color: #6b6b6b;
}


/* todo form */
.todo_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.todo_box {
  width: 400px;
  height: 60px;
  background-color: #142E34;
  text-align: center;
  line-height: 75px;
  border-radius: 10px 10px 0 0;
}
.todo_box input {
  width: 350px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  background-color: #142E34;
}
.list_wrap {
  width: 400px;
  height: 380px;
  padding-bottom: 20px;
  border: 1px solid #142E34;
  border-radius: 0 0 10px 10px;
  overflow-y: scroll;
}
.list_wrap::-webkit-scrollbar {
  display: none;
}

.list_wrap ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list_wrap li {
  width: 350px;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #142E34; */
}
.list_wrap input {
  margin-right: 20px;
}
.list_wrap span:nth-of-type(2) {
  color: #6b6b6b;
  cursor: pointer;
}

/* quote */
#quote {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#quote.on {
  padding-top: 50px;
}
/* #quote span {
  color: #fff;
} */
#quote span:last-child {
  padding-top: 5px;
}
#quote span:last-child::before {
  content: 'from. ';
}